/* Loosely based on Hyde and Poole by @mdo
 * (https://github.com/poole/poole)
 */
@import url('amatic.css');
@import url('lato.css')
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}
@media (min-width: 608px) {
  html {
    font-size: 20px;
  }
}
body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #268bd2;
  text-decoration: none;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
  font-family: "Amatic", sans-serif;
}
h1 {
  font-size: 3rem;}
h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 100;
}
h3 {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  font-size: 1.6rem;
  font-weight: 100;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
strong {
  color: #303030;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 608px) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/*
 * Custom type
 * Extend paragraphs with `.lead` for larger introductory text.
 */
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

/*
 * Messages
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */
.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

/* Container */
.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Sidebar */
.sidebar {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 239px;
  color: rgba(255,255,255,.5);
  background-color: #202020;
  text-align: center;  
}
@media (min-width: 790px) {
  .sidebar {
    padding: 2rem 0;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 16rem;
    text-align: left;
  }
}
/* Logo and lema here */
.logo {
  max-width: 121px;
  margin: auto;
  text-rendering: optimizeLegibility;
  font-family: "Amatic", sans-serif;
  font-size: 45px;
  line-height: 50px;
  padding-left: 49px;
  background: url(../img/genma.svg) no-repeat left;
  background-size: 45px;
}
.logo a{
  color: #ddd;
}
.logo a:hover, .logo a:focus {
  text-decoration: none;
  color: #fff;
}
@media (min-width:790px){
  .logo {
    position: relative;
    top: 40px;
    left: 10px;
    padding-left: 55px;
    font-size: 45px;
    line-height: 55px;  
    background-size: 55px;
  }
}
#lema {
  position: absolute;
  top: 45px;
  width: 100vw;
  /*left: 15px;*/
  margin: auto;
  font-size: 15px;
  text-align: center;
}
@media (min-width: 790px){
  #lema {
    position: absolute;
    top: 125px;
    left: 55px;
    width: auto;
    text-align: left;
    font-size: 18px;
    color: #888;
  }
}
/* Sidebar links */
.sidebar a, .head-mobile a {
  color: #fff;
  text-decoration: none;
}
.sidebar a:hover {
  text-decoration: none;
}

/* Sidebar nav */
.sidebar-nav {
  position: absolute;
  width: 100%;
  top: 80px;
  margin-bottom: 1rem;
  font-size: 18px;
}
@media (min-width: 790px) {
  .sidebar-nav{
    position: absolute;
    width: 100%;
    top: 180px;
    margin-bottom: 1rem;
  }
}
.sidebar-nav-item {
  display: block;
  line-height: 1.75;
  padding: .2rem 0;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  background-color: #303030;
  text-decoration: none;
  color: #ddd;
}
@media (min-width: 790px) {
   a.sidebar-nav-item{
    padding-left: 50px;  
  }
}
.sidebar-nav-item.active {
  color: #ddd; 
  background-color: #151515;
}

/* Container */
.content {
  position: relative;
  top: 240px;
  margin: 0 auto;
  max-width: 690px;
}
@media (min-width: 790px) {
  .content {
    top: 50px;
    margin: 0 2rem 4rem 18rem; }
}

/* Front page only */
#front-page{
  text-align: center;}
#front-page h2{
  font-size: 2.5rem;
  letter-spacing: .5rem;
  font-weight: 700;
  font-family: "Amatic";
}
/* Make el & la bigger */
.el-la{
  font-size: 200%;
  letter-spacing: -.2rem;
  font-weight: 700;
}
@media (min-width: 790px) {
  #front-page{
    text-align: left; }
  #front-page h2{
    font-size: 3rem;
  }
}
.footnotes{
  font-size: 75%;}

/* Accordion effect
*  www.w3schools.com/howto/howto_js_accordion.asp 
*  Style the buttons that are used to open and close the accordion panel 
*/
button.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: inherit;}
button.accordion:after {
    font-family: "Amatic", sans-serif;
    font-size: 2.5rem;
    color: #202020;
    content: '+'; 
    position: relative;
    top:-3.2rem;
    right: -2rem;
    float: right;
    margin-bottom: -6rem;
}
button.accordion.active:after {
    font-family: "Amatic", sans-serif;
    font-size: 4.5rem;
    color: #202020;
    content: "-"; 
    position: relative;
    top:-4.2rem;
    right: -2rem;
    float: right;
    margin-bottom: -6rem;
}
/* Style the accordion panel. Note: hidden by default */
div.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}
div.panel.show {
    opacity: 1;
    max-height: 100%; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}